 #fileuploadForm {
    display: block;
    }
    #fileuploadProgress {
    display: none;  
    }
    #progress-bar {
    border: 1px  solid #999999;
    border-right-width: 1px;
    width: 300px;
    height: 12px;
    background-color: #FFFFFF;
    text-align: left;
    }
    
    #progress-bgrd {
    width: 0px;
    height: 12px;
    padding: 0;
    background-color: #1d499f;
    }
    
    #progress-text {
    width: 300px;
    height: 40px;
    font-family: verdana, geneva;
    font-size: 10px;
    color: #000000;
    }